*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;

/* color */
}
:root {
    --bg-color: #fcfcfc;
    --second-bg-color: #f8f8f8;
    --text-color: black;
    --main-color: #f76c6c;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
     transform: scale(1.1);
}
span{
    color: var(--main-color);
}
.navbar a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}


section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}
.home-circle-1{
    position: absolute;
    background-color: var(--main-color);
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    bottom: 10rem;
    right: 0;
    z-index: -1;
}
.home-circle-2{
    position: absolute;
    background-color: #fa6a6a;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    margin: 0 auto;
    top: 0;
    right: 50px;
    z-index: -1;
}
.home-content h3{
    font-size: 5rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
    font-size: 5rem;
}
.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img{
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 10px solid var(--main-color);
}
.home-img img{
    position: relative;
    background-color: white;
    border: 25px solid white;
    width: 32vw;
    border-radius: 50%;
    cursor: pointer;
}
.home-content p{
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 650px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    font-size: 2.5rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3 ease;
}
.social-icons a:hover{
    color: white;
    transform: scale(1.3)translateY(-5px);
    background-color: var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3 ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    background: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid #f1f1f1;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14)infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: 'Web Developer';
    }
    21%,
    40%{
        content: 'Web Designer';
    }
    41%,
    60%{
        content: 'Blogger';
    }
    61%,
    80%{
        content: 'Content Creator';
    }
    81%,
    100%{
        content: 'Graphic Designer';
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background: var(--second-bg-color);
}
.about-circle{
    position: absolute;
    left: -150px;
    margin-top: 15rem;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    background-color: var(--main-color);
}
.about-img{
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 10px solid var(--main-color);
}
.about-img img{
    position: relative;
    width: 30vw;
    border-radius: 50%;
    border: 50px solid white;
    cursor: pointer;
}
.heading{
    text-align: center;
    font-size: 8rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.5;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.about-content .text-animation span::before{
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}

.about-content .text-animation span::after{
        content: '';
        background-color: var(--second-bg-color);
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        border-left: 2px solid #f1f1f1;
        right: -8px;
        animation: cursor 0.6s infinite, typing 20s steps(14)infinite;
}
.service h2{
    margin-bottom: 8rem;
}
.service-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.service-container .services-box{
    flex: 1 1 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 3rem 2rem 4rem;
    height: 500px;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid rgb(224, 224, 224);
    cursor: pointer;
    transition: 0.4 ease;
}
.service-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
    background-color: white;
    color: black;
}
.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.services-box h3{
    font-size: 2.6rem;
}
.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: white;
    width: 50px;

}
.Albums{
    background: var(--second-bg-color);
}
.Albums h2{
    margin-bottom: 8rem;
}
.Albums-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.Albums-container .Albums-box{
    position: relative;
    height: 500px;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}
.Albums-box img{
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}
.Albums-box:hover img{
    transform: scale(1.1);
}
.Albums-box .Albums-info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.Albums-box .Albums-info:hover{
    background: radial-gradient(rgba(0, 13, 255, 0.5), var());
    transform: scale(1.1)translateY(-10px);
}
.Albums-info h4{
    font-size: 3rem;
    color: white;
    font-weight: 800;
}
.Albums-info p{
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
    font-weight: 600;
    color: white;
}
.Albums-info a{
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: white;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}
.Albums-info a i{
    font-size: 3rem;
    color: var(--main-color);
}

.skills h2{
    margin-bottom: 2rem;
}
.skills{
    margin: 0 auto;
}
.skill-bars{
    padding: 25px 30px;
    background:  white;
    border: 5px solid var(--main-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.skill-bars .bar{
    margin: 20px 0;
}
.skill-bars .bar:first-child{
    margin-top: 0;
}
.skill-bars .bar .info{
    margin-bottom: 5px;
}
.skill-bars .bar .info span{
    color: var(--text-color);
    font-weight: 500;
    font-size: 17px;
}
.skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: white;
    position: relative;
    border-radius: 10px;
}
.bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}

.bar .progress-line.javascript span{
    width: 80%;
    background-color: gold;
}
.bar .progress-line.react span{
    width: 80%;
    background-color: rgb(58, 58, 255);
}
.bar .progress-line.mongodb span{
    width: 75%;
    background-color:  greenyellow;
}
.bar .progress-line.html span{
    width: 100%;
    background-color: orangered;
}
.bar .progress-line.css span{
    width: 100%;
    background-color: blue;
}
.contact{
    background-color: var(--second-bg-color);
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color:  var(--main-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 25px;
    color: white;
    border: 2px solid white;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: white;
    color: var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid white;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    .Albums-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(1,1fr);
        margin: 0 5rem;
    }
    .home-circle-1{
        bottom: 5rem;
        width: 35vw;
        height: 35vw;
    }
    .home-circle-2{
        top: 5rem;
        width: 30vw;
        height: 30vw;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .service{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: var(--second-bg-color);
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solidv var(--main-color);
        border-bottom-left-radius: 2rem;
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-circle-1{
        bottom: 5rem;
        width: 35vw;
        height: 30vw;
    }
    .home-circle-2{
        top: 5rem;
        width: 30vw;
        height: 30vw;
    }
    .home-img{
        display: grid;
        border: none;
        border-radius: 50%;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    
    .about-content{
        margin: 1rem 4rem;
    }
    .about.img{
        border: none;
    }
    .about img{
        width: 70vw;
        margin-top: 1rem;
        border: none;
        margin-bottom: 3rem;
    }
    .service h2{
        margin-bottom: 3rem;
    }
    .Albums h2{
        margin-bottom: 3rem;
    }
    .timeline-item::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
}